body, html {
	width: 100%;
	height: 100%;	
}
* {
	margin: 0;
	padding: 0;
}
.controls, .chart, .controls__buttons {
	height: 100%;
}
.controls {
	border-left: 1px solid #eaeaea;
}
.controls__input_text {
	margin: 30px -15px 30px -15px;
}

.controls__input_radio {
	margin: 20px 0;
}

